* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
.app {
  width: 100%;
  height: 100%;
}
.app .main {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../images/bg@2x.png);
  background-size: 100% 100%;
}
.app .main .people-22 {
  position: absolute;
  bottom: 0.8rem;
  left: 0;
  width: 4.26666667rem;
}
.app .main .people-33 {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.2rem;
}
.app .main .logo {
  height: 1.28rem;
  z-index: 1;
}
.app .main a {
  z-index: 1;
}
.app .main a .download {
  margin-top: 0.8rem;
  width: 7.2rem;
}
