@vw: 3.75vw;
@rootSize: 37.5rem;
@color: #fb7299;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;


    .main {
        position: relative;

        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // text-align: center;

        background: url(../images/bg@2x.png);
        background-size: 100% 100%;

        // padding-bottom: (75 / @vw);

        .people-22 {
            position: absolute;
            bottom: (30 / @rootSize);
            left: 0;

            width: (160 / @rootSize);
        }

        .people-33 {
            position: absolute;
            top: 0;
            right: 0;
            width: (120 / @rootSize);
        }

        .logo {
            height: (48 / @rootSize);
            z-index: 1;
        }

        a {
            z-index: 1;

            .download {
                margin-top: (30 / @rootSize);
                width: (270 / @rootSize);

            }
        }

    }
}